streamlit
pandas
numpy
yfinance
mplfinance
matplotlib
xlrd
openpyxl
st-gsheets-connection
plotly
requests
beautifulsoup4
gspread
google-api-python-client
pandas-datareader
pyarrow
tradingview-screener
fastparquet
streamlit-lightweight-charts
websocket-client
# 安定版のGitHubリポジトリから直接指定（Selenium依存が取り除かれた最新のフォーク版が推奨されます）
git+https://github.com/rongardF/tvdatafeed.git