streamlit==1.54.0
pandas==2.3.3
numpy==2.3.1
yfinance==1.2.0
mplfinance==0.12.10b0
matplotlib==3.10.8
xlrd==2.0.2
openpyxl==3.1.5
st-gsheets-connection==0.1.0
plotly==6.5.2
requests==2.32.5
beautifulsoup4==4.14.3
gspread==5.12.4
google-api-python-client==2.198.0
pandas-datareader==0.11.1
pyarrow==23.0.1
tradingview-screener
fastparquet
streamlit-lightweight-charts==0.7.20
websocket-client
# 安定版のGitHubリポジトリから直接指定（Selenium依存が取り除かれた最新のフォーク版が推奨されます）
git+https://github.com/rongardF/tvdatafeed.git